<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <div class="white-bg">
        <% for (let i=0; i<lists.length; i++) { %>
        <div class="list-box">  
          <h4>
            <a href="/detail/<%= lists[i]._id%>" class="title"><%= lists[i].title %></a>
            <a href="/edit/<%= lists[i]._id%>" class="edit">✍</a>
            <span class="delete" data-id="<%= lists[i]._id%>">❌</span>
          </h4>
          <p><%= lists[i].content%></p>
        </div>
        <% } %>
      </div>
      <script>
          document.querySelectorAll('.delete')[0].addEventListener('click',function(e){
            fetch('/delete?docid=<%= lists[0]._id%>', {
              method: 'DELETE',
            })
         .then((r)=>{r.text() })
         // 서버가 보낸 데이터 data
         .then((data)=>{
          //삭제 시 새로고침해야 post가 사라진다, 그래서 숨겨버리기
          e.target.parentElement.parentElement.style.display='none'
           })
          })
     
        </script>
</body>
</html>